.home-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .home-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Отступы между кнопками */
    max-width: 400px; /* Ограничиваем ширину контейнера */
  }
  
  .home-button {
    flex: 1 1 200px; /* Кнопки адаптируются по ширине */
    max-width: 200px; /* Ограничиваем ширину кнопки */
    font-size: 1.2rem;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .home-button {
      font-size: 1rem;
      padding: 8px;
    }
  }
  